<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/style.css">
  <head>
    <meta charset="utf-8" />
    <title>Pokedex | Add Pokemon</title>
  </head>
  <body>
    <h1>Add A New Pokemon!</h1>
    <form action="/pokemon" method="POST">
        <input type="text" name="name" placeholder="name"" /><br />
        <input type="text" name="id" placeholder="id"/><br />
        <input type="text" name="img" placeholder="img (url)"/><br />
        <input type="text" name="type" placeholder="type"/><br />
        <input type="text" name="hp" placeholder="hp"/><br/>
        <input type="text" name="attack" placeholder="attack"/><br/>
        <input type="text" name="defense" placeholder="defense"/><br/>
        <input type="submit" value="Add Pokemon" />
    </form>
  </body>
</html>